flows.json
[{"id":"93758478.7710a8",
    "type":"tab",
    "label":"Telegram-Watson",
    "disabled":false,
    "info":""},

{"id":"558fd428.24ff9c",
    "type":"telegram receiver",
    "z":"93758478.7710a8",
    "name":"",
    "bot":"bbce722c.0b5a4",
    "saveDataDir":"",
    "filterCommands":false,
    "x":110,"y":200,
    "wires":[["39a8e18c.bb9c3e","980d1e6a.d90a6"],[]]},

{"id":"39a8e18c.bb9c3e",
    "type":"debug",
    "z":"93758478.7710a8",
    "name":"",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":310,"y":140,
    "wires":[]},

{"id":"fafecbaf.2dc428",
    "type":"telegram sender",
    "z":"93758478.7710a8",
    "name":"",
    "bot":"bbce722c.0b5a4",
    "haserroroutput":false,
    "outputs":1,"x":910,"y":240,
    "wires":[[]]},

{"id":"8a6eabd6.dde588",
    "type":"watson-assistant-v2",
    "z":"93758478.7710a8",
    "name":"Watson",
    "service-endpoint":"https://api.us-east.assistant.watson.cloud.ibm.com/instances/214f531e-427e-43a1-8ce0-71eccdab8fe9",
    "assistant_id":"a0343a47-36e3-4b61-9e61-d4b7a83a7978",
    "debug":false,
    "restart":false,
    "return_context":true,
    "alternate_intents":false,
    "multisession":true,
    "timeout":"",
    "optout-learning":false,
    "persist-session-id":false,
    "x":500,"y":240,
    "wires":[["830f2fdd.7c3b8","ce8bcfc0.3bc1a"]]},

{"id":"980d1e6a.d90a6",
    "type":"function",
    "z":"93758478.7710a8",
    "name":"",
    "func":"msg.params = {\n    \"session_id\" : msg.payload.chatId\n}\nmsg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;",
    "outputs":1,"noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[],"x":320,"y":320,
    "wires":[["8a6eabd6.dde588","7738fad.b7cc904"]]},

{"id":"7738fad.b7cc904",
    "type":"debug",
    "z":"93758478.7710a8",
    "name":"",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"false",
    "statusVal":"",
    "statusType":"auto",
    "x":490,"y":180,
    "wires":[]},

{"id":"830f2fdd.7c3b8",
    "type":"debug",
    "z":"93758478.7710a8",
    "name":"",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"true",
    "targetType":"full",
    "statusVal":"",
    "statusType":"auto","x":670,"y":220,
    "wires":[]},

{"id":"ce8bcfc0.3bc1a",
    "type":"function",
    "z":"93758478.7710a8",
    "name":"prepara resposta",
    "func":"msg.payload = {\n    \"content\" : msg.payload.output.generic[0].text,\n    \"chatId\" : msg.chatId,\n    \"type\" : \"message\"\n}\n\nreturn msg;",
    "outputs":1,"noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[],"x":690,"y":320,
    "wires":[["fafecbaf.2dc428"]]},

{"id":"bbce722c.0b5a4",
    "type":"telegram bot",
    "botname":"e-commerce",
    "usernames":"",
    "chatids":"",
    "baseapiurl":"",
    "updatemode":"polling",
    "pollinterval":"300",
    "usesocks":false,
    "sockshost":"",
    "socksport":"6667",
    "socksusername":"anonymous",
    "sockspassword":"",
    "bothost":"",
    "botpath":"",
    "localbotport":"8443",
    "publicbotport":"8443",
    "privatekey":"",
    "certificate":"",
    "useselfsignedcertificate":false,
    "sslterminated":false,
    "verboselogging":false}]