node-red/checkpoint2.json
[
    {
        "id": "ebe8003.b9549",
        "type": "tab",
        "label": "Checkpoint2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7be26c75.227c24",
        "type": "watson-text-to-speech",
        "z": "ebe8003.b9549",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "pt-BR_IsabelaV3Voice",
        "format": "audio/wav",
        "password": "",
        "apikey": "--KQF5xdA04X8Y7Bb5ruhpz2E4viIOHzQyaajdCQurQm",
        "payload-response": true,
        "service-endpoint": "https://api.au-syd.text-to-speech.watson.cloud.ibm.com/instances/afc11cc6-05b2-43f2-af3f-99eedd2cb99d",
        "x": 760,
        "y": 140,
        "wires": [
            [
                "caa4e890.30b288",
                "7822e46b.f047dc"
            ]
        ]
    },
    {
        "id": "b38c3f47.10d9a",
        "type": "telegram sender",
        "z": "ebe8003.b9549",
        "name": "",
        "bot": "",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1230,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "caa4e890.30b288",
        "type": "function",
        "z": "ebe8003.b9549",
        "name": "Retorno Telegram",
        "func": "msg.payload = {\n    \"chatId\" : msg.chatId,\n    \"type\" : \"voice\",\n    \"content\" : msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 140,
        "wires": [
            [
                "b38c3f47.10d9a",
                "152ad152.405c5f"
            ]
        ]
    },
    {
        "id": "109260ab.a1cd9f",
        "type": "telegram receiver",
        "z": "ebe8003.b9549",
        "name": "",
        "bot": "",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "9534532a.03131"
            ],
            []
        ]
    },
    {
        "id": "7822e46b.f047dc",
        "type": "debug",
        "z": "ebe8003.b9549",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 200,
        "wires": []
    },
    {
        "id": "152ad152.405c5f",
        "type": "debug",
        "z": "ebe8003.b9549",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 80,
        "wires": []
    },
    {
        "id": "38d9b66e.7e934a",
        "type": "function",
        "z": "ebe8003.b9549",
        "name": "Prepara Text to Speech",
        "func": "msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 140,
        "wires": [
            [
                "7be26c75.227c24"
            ]
        ]
    },
    {
        "id": "9534532a.03131",
        "type": "switch",
        "z": "ebe8003.b9549",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 240,
        "wires": [
            [
                "38d9b66e.7e934a"
            ],
            [
                "e91a8cca.abea"
            ]
        ]
    },
    {
        "id": "e91a8cca.abea",
        "type": "function",
        "z": "ebe8003.b9549",
        "name": "Prepara Speech to Text",
        "func": "msg.chatId = msg.payload.chatId\nmsg.payload = msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 320,
        "wires": [
            [
                "8e3351cb.02a08"
            ]
        ]
    },
    {
        "id": "8e3351cb.02a08",
        "type": "watson-speech-to-text",
        "z": "ebe8003.b9549",
        "name": "",
        "alternatives": 1,
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "5q818eZRNO4g8dmhpoSBgXZJX18glTIukF7BjlgHfN8R",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/e37e3f18-b4cc-45c9-a401-d002ae4ae6d5",
        "x": 760,
        "y": 320,
        "wires": [
            [
                "84696b10.f311d8"
            ]
        ]
    },
    {
        "id": "84696b10.f311d8",
        "type": "function",
        "z": "ebe8003.b9549",
        "name": "Retorno Telegram",
        "func": "msg.payload = {\n    \"chatId\" : msg.chatId,\n    \"type\" : \"message\",\n    \"content\" : msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 320,
        "wires": [
            [
                "b38c3f47.10d9a"
            ]
        ]
    },
    {
        "id": "c34bd7ac.362928",
        "type": "function",
        "z": "ebe8003.b9549",
        "name": "Prepara Watson",
        "func": "msg.params = {\n    \"session_id\" : msg.payload.chatId\n}\nmsg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 460,
        "wires": [
            [
                "f1acc424.37c448"
            ]
        ]
    },
    {
        "id": "f1acc424.37c448",
        "type": "watson-assistant-v2",
        "z": "ebe8003.b9549",
        "name": "Watson",
        "service-endpoint": "https://api.us-east.assistant.watson.cloud.ibm.com/instances/214f531e-427e-43a1-8ce0-71eccdab8fe9",
        "assistant_id": "",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 500,
        "y": 460,
        "wires": [
            [
                "7040825c.0c3f3c",
                "5c2bc8e0.54bd88"
            ]
        ]
    },
    {
        "id": "22c01eaa.b08042",
        "type": "telegram receiver",
        "z": "ebe8003.b9549",
        "name": "",
        "bot": "",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "c34bd7ac.362928"
            ],
            []
        ]
    },
    {
        "id": "7040825c.0c3f3c",
        "type": "function",
        "z": "ebe8003.b9549",
        "name": "Prepara Text to Speech",
        "func": "msg.payload = msg.payload.output.generic[0].text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 460,
        "wires": [
            [
                "650ffed5.c8d0a"
            ]
        ]
    },
    {
        "id": "650ffed5.c8d0a",
        "type": "watson-text-to-speech",
        "z": "ebe8003.b9549",
        "name": "",
        "lang": "",
        "langhidden": "",
        "langcustom": "",
        "langcustomhidden": "",
        "voice": "",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "",
        "payload-response": false,
        "service-endpoint": "",
        "x": 940,
        "y": 460,
        "wires": [
            [
                "8e8931d0.27158"
            ]
        ]
    },
    {
        "id": "5c2bc8e0.54bd88",
        "type": "debug",
        "z": "ebe8003.b9549",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "39a0661f.32bcda",
        "type": "telegram sender",
        "z": "ebe8003.b9549",
        "name": "",
        "bot": "",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1370,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "8e8931d0.27158",
        "type": "function",
        "z": "ebe8003.b9549",
        "name": "Retorno Telegram",
        "func": "msg.payload = {\n    \"chatId\" : msg.chatId,\n    \"type\" : \"voice\",\n    \"content\" : msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 460,
        "wires": [
            [
                "39a0661f.32bcda"
            ]
        ]
    }
]