node-red/flows2.json
[
    {
        "id": "93758478.7710a8",
        "type": "tab",
        "label": "Telegram-Watson-Audio",
        "disabled": false,
        "info": ""
    },
    {
        "id": "558fd428.24ff9c",
        "type": "telegram receiver",
        "z": "93758478.7710a8",
        "name": "",
        "bot": "bbce722c.0b5a4",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "12df0939.e54d07"
            ],
            []
        ]
    },
    {
        "id": "3f4cdba1.ae69a4",
        "type": "function",
        "z": "93758478.7710a8",
        "name": "Prepara Speech to Text",
        "func": "msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.weblink;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 220,
        "wires": [
            [
                "b4fd3af6.0497a8",
                "e5f79abf.4a53a8"
            ]
        ]
    },
    {
        "id": "b4fd3af6.0497a8",
        "type": "watson-speech-to-text",
        "z": "93758478.7710a8",
        "name": "",
        "alternatives": 1,
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "5q818eZRNO4g8dmhpoSBgXZJX18glTIukF7BjlgHfN8R",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/e37e3f18-b4cc-45c9-a401-d002ae4ae6d5",
        "x": 720,
        "y": 220,
        "wires": [
            [
                "40219871.a9d5a8",
                "1f05eb4b.3bc315"
            ]
        ]
    },
    {
        "id": "e5f79abf.4a53a8",
        "type": "debug",
        "z": "93758478.7710a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "40219871.a9d5a8",
        "type": "debug",
        "z": "93758478.7710a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "12df0939.e54d07",
        "type": "switch",
        "z": "93758478.7710a8",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "3f4cdba1.ae69a4"
            ],
            [
                "c8ea2983.a0a088"
            ]
        ]
    },
    {
        "id": "c8ea2983.a0a088",
        "type": "debug",
        "z": "93758478.7710a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 300,
        "wires": []
    },
    {
        "id": "3a860b1a.4a2184",
        "type": "watson-assistant-v2",
        "z": "93758478.7710a8",
        "name": "Watson",
        "service-endpoint": "https://api.us-east.assistant.watson.cloud.ibm.com/instances/214f531e-427e-43a1-8ce0-71eccdab8fe9",
        "assistant_id": "a0343a47-36e3-4b61-9e61-d4b7a83a7978",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 1060,
        "y": 220,
        "wires": [
            [
                "7ba21c9b.891eb4",
                "6601ee67.04f1e"
            ]
        ]
    },
    {
        "id": "1f05eb4b.3bc315",
        "type": "function",
        "z": "93758478.7710a8",
        "name": "",
        "func": "msg.params = {\n    \"session_id\" : msg.chatId\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 220,
        "wires": [
            [
                "3a860b1a.4a2184",
                "f191e21e.21be7"
            ]
        ]
    },
    {
        "id": "f191e21e.21be7",
        "type": "debug",
        "z": "93758478.7710a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 140,
        "wires": []
    },
    {
        "id": "7ba21c9b.891eb4",
        "type": "debug",
        "z": "93758478.7710a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 140,
        "wires": []
    },
    {
        "id": "6601ee67.04f1e",
        "type": "function",
        "z": "93758478.7710a8",
        "name": "",
        "func": "msg.payload = {\n    chatId : msg.chatId,\n    type : \"message\",\n    content : msg.payload.output.generic[0].text\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 220,
        "wires": [
            [
                "c1412bfe.268ec8",
                "8742b201.8eaf5"
            ]
        ]
    },
    {
        "id": "c1412bfe.268ec8",
        "type": "debug",
        "z": "93758478.7710a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 140,
        "wires": []
    },
    {
        "id": "8742b201.8eaf5",
        "type": "telegram sender",
        "z": "93758478.7710a8",
        "name": "",
        "bot": "bbce722c.0b5a4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1450,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "bbce722c.0b5a4",
        "type": "telegram bot",
        "botname": "e-commerce",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]